<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nirogo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowClearUserData="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".HomeScreen.Navdrawer" />
        <activity android:name=".HomeScreen.MessageActivity"/>
        <activity android:name=".Activities.AppointmentOption" />
        <activity android:name=".Profile.updateprofile" />
        <activity android:name=".Activities.SearchActivity" />
        <activity android:name=".Activities.CartActivity" />
        <activity android:name=".Activities.AmbulanceActivity" />
        <activity android:name=".Profile.DoctorProfile" />
        <activity android:name=".Post.PostUploadActivity"/>
        <activity android:name=".Activities.AppointmentsActivity"/>
        <activity android:name=".HomeScreen.MessagePreview" />
        <activity android:name=".Supplier.DetailsSupplier" />
        <activity android:name=".User.DetailsUser" />
        <activity android:name=".Doctor.DetailsDoctor" />
        <activity android:name=".Profile.DoctorProfileViewOnly"/>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".HomeScreen.HomeActivity" />
        <activity android:name=".Supplier.SupplierActivity" />
        <activity android:name=".User.UserActivity" />
        <activity android:name=".Doctor.DoctorActivity" />
        <activity android:name=".Activities.OptionActivity" />
        <activity android:name=".Profile.UserProfile"/>
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>