<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nirogo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:allowClearUserData="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".navdrawer" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".AppointmentOption" />
        <activity android:name=".updateprofile" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".AmbulanceActivity" />
        <activity android:name=".Adapters.Appointments.AppointmentsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Post.PostUploadActivity"/>
        <activity android:name=".MessageActivity" />
        <activity android:name=".Supplier.DetailsSupplier" />
        <activity android:name=".User.DetailsUser" />
        <activity android:name=".Doctor.DetailsDoctor" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Supplier.SupplierActivity" />
        <activity android:name=".User.UserActivity" />
        <activity android:name=".Doctor.DoctorActivity" />
        <activity android:name=".OptionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>